# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Config Files for the ide
/home/david/projects/InteliJ/AoC_2020/.idea
*.iml

# compiled source code
/home/david/projects/InteliJ/AoC_2020/out